
@model IEnumerable<Departement>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<Departement> departements = Model;

}

<header>
    @await Html.PartialAsync("_HeaderPartial")
</header>
<main role="main" class="container-fluid m-3">
    <section>

        @await Html.PartialAsync("_PartialDptManage")
        @await Html.PartialAsync("_PartialCategoriesManage")
        @await Html.PartialAsync("_PartialVillageManage")

    </section>
</main>
