@using clickAndV.Models
@model IQueryable<Ad>
@inject clickAndV.Data.ApplicationDbContext context


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@await Html.PartialAsync("_HeaderPartial")
<main role="main">

    <div class="text-center">
        <h1 class="display-4">Bonjour et bienvenue sur Click And Voisins! </h1>
        <p>
            <br />Ce site est un prototype de fin d'étude, il  a pour but d'aider à créer du lien social dans les villages...
            <br />Le site final sera a destination des mairies qui pouront ajouter/créer des comptes utilisateurs pour des associations ou pour les habitants de leur village.
            <br />Les associations pourront par exemple  avertir des évènements à venir et communiquer sur les évènements passés sur une page dédiée.
            <br /> Les habitants pourront poster des demandes d'aide, de prêt de matériel ou tout autre sujet..
            <br />Les visiteurs du site pourront entrer en contact avec l'auteur du post via un lien sur l'article.
        </p>
    </div>
    <div class="text-center" style="height: 500px; background-image: url(https://p.monumentum.fr/galerie/maxi/00296/296946-english-fortified-church-inieres-commune-sainte-radegonde-aveyron-france.jpg); background-position:center; background-repeat:no-repeat">

        <div class="btn-group m-3" style="position:relative; ">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                -- Choisissez un village --
            </button>
            <div class="dropdown-menu">
                @foreach (Departement departement in context.Departement)
                {
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item" style="font-weight:bold">@departement.DepartementName</p>
                    @foreach (Village village in departement.Villages)
                    {
                        <a class="dropdown-item" asp-controller="Home" asp-action="AccueilVillage" asp-route-VillageId="@village.VillageId">@village.VillageName</a>
                    }
                }
            </div>
        </div>

    </div>
    <div class="nav-item  p-3 d-flex flex-column">
        <a class="nav-link text-light " data-bs-toggle="collapse" data-bs-target="#collapse-user" aria-expanded="false" aria-controls="collapse-user">
            <span>Hello !</span>
        </a>
        <div class="collapse " id="collapse-user">
            <p class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
            </p>
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>

        </div>
    </div>

  
   
</main>