<footer class="page-footer font-small pt-4 footer">
    <div class="container text-center text-lg-left">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footerTitle yellowEffect">Click And Voisins </h5>
            </div>

            <hr class="clearfix w-100 d-lg-none">

            <div class="col-lg-2 mx-auto">
                <ul class="list-unstyled">
                    <li>
                        <a href="formContact.html" target="_blank" class="footerLink yellowEffect">Nous contacter</a>
                    </li>
                    <li>
                        <a href="https://github.com/emilieDelsol" target="_blank" class="footerLink yellowEffect">Qui sommes nous?</a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-lg-none">

            <div class="col-lg-2 mx-auto">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.francetvinfo.fr/cgu/" target="_blank" class="footerLink yellowEffect">CGU et mentions légales</a>
                    </li>
                    <li>
                        <a href="" target="_blank" class="footerLink yellowEffect">Politiques de confidentialités</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://www.wildcodeschool.com" target="_blank" class="footerLink yellowEffect"> Wild Code School</a>
    </div>
</footer>