@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject clickAndV.Data.ApplicationDbContext context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CorrectionCheckpoint3</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="height:100vh">
    <header>
        <div class="container-fluid d-flex justify-content-between text-light header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLcrbQUVT7BYuciHd_DLhlOEw_bzzPd2t3xg&usqp=CAU" alt="" style="height:50px" /><h1>Click And Voisins</h1><p>&nbsp;</p>
        </div>
    </header>
    <div class="d-flex">
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>

    </div>


    <footer class="page-footer font-small pt-4 footer">
        <div class="container text-center text-lg-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-4 mx-auto">
                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footerTitle yellowEffect">Click And Voisins </h5>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-lg-none">

                <!-- Grid column -->
                <div class="col-lg-2 mx-auto">
                    <!-- Links -->
                    <ul class="list-unstyled">
                        <li>
                            <a href="formContact.html" target="_blank" class="footerLink yellowEffect">Nous contacter</a>
                        </li>
                        <li>
                            <a href="https://fabiend31.github.io/Projet1/cards.html" target="_blank" class="footerLink yellowEffect">Qui sommes nous?</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-lg-none">

                <!-- Grid column -->
                <div class="col-lg-2 mx-auto">
                    <!-- Links -->
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.adopteunmec.com/" target="_blank" class="footerLink yellowEffect">Recrutement</a>
                        </li>
                        <li>
                            <a href="https://www.francetvinfo.fr/cgu/" target="_blank" class="footerLink yellowEffect">CGU et mentions légales</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-lg-2 mx-auto">
                    <!-- Links -->
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.youtube.com/watch?v=fRLiCXWnuts&amp;ab_channel=CuisineMarocaineByMariam" target="_blank" class="footerLink yellowEffect">Gestion des cookies</a>
                        </li>
                        <li>
                            <a href="https://www.007.com/" target="_blank" class="footerLink yellowEffect">Politiques de confidentialités</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://www.wildcodeschool.com" target="_blank" class="footerLink yellowEffect"> Wild Code School</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>    
    @RenderSection("Scripts", required: false)
</body>
</html>
