@model clickAndV.Models.Ad
@inject clickAndV.Data.ApplicationDbContext context
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_HeaderPartial")
<main role="main" class="container-fluid m-3">

    <div class="col-md-10 mx-auto py-4">
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Add New </h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Text" class="control-label"></label>
                            <input asp-for="Text" class="form-control" />
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CreationDate" class="form-control" type="hidden" value="@DateTime.Now" />
                            <span asp-validation-for="CreationDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BeginDate" class="control-label"></label>
                            <input asp-for="BeginDate" class="form-control" />
                            <span asp-validation-for="BeginDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>

                        <div class="form-group">
                            <input asp-for="UserId" class="form-control" type="hidden" value="@User.Identity.Name" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Picture" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Picture" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>
                      @*  <div class="form-group">
                            <label asp-for="Picture" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Picture" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>


</main>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  